<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Hello <%= @person.first_name %>,</h1>
		<p>
			Time to move your car, street sweeping tomorrow!
		</p>
		<p>
			If you need to change this notification, please <a href="http://sweepercall.heroku.com/login">log in</a> to your account.
		</p>
	</body>
</html>
