<h1>Welcome to sweepercall.</h1>
<p id="notice"><%= notice %></p>

<%= link_to "Log in", login_path, :class => 'btn success' %><br /><br />
<%= link_to "Agent sign up!", new_user_path, :class => 'btn success' %>