<%= render 'layouts/messages' %>
<h1>Welcome to sweepercall.</h1>

<%= link_to "Log in", login_path, :class => 'btn btn-success' %><br /><br />
<%= link_to "Agent sign up!", new_user_path, :class => 'btn btn-success' %><br /><br />
<%= link_to "Sign up!", users_new_person_path, :class => 'btn btn-success' %>