<h1>Make A Recording</h1>

<h3>You are receiving a call right now at <%= number_to_phone(@agent.outgoing_phone) %>. Make your outgoing message to your subscribers and press # when finished!</h3><br />

<h3>When you have finished your recording, click <%= link_to 'here', agent_path(@agent) %> to go back to your profile.</h3><br />

<h4>
	If you have still not received a call click to 
	<%= link_to "Retry!", {:controller => 'recordings', :action => 'record', :uuid => params[:uuid]} %>
</h4>