<h1>Your verification code: <span class="bignum"><%= notice %></span></h1>
You should be receiving a call at <%= @agent.phone %> shortly. Please enter the verification code so we can use your personal phone number when calling your clients.